<p>about-us works!</p>

<p>
  Established in 1949, we have since continued family traditions of leather craftsmanship. From the applications of
  old-fashion tanning know-how to the adoption of modern leather technology, we have begun to oversee substantial growth
  in the demand of our products both regionally and globally. The profound knowledge of leather and its applications
  that we have preciously gained over the years have given us the trust of many of our partners.

  Situated in the heart of the island of West Java, our facility is among the leading modern facilities in Indonesia.
  With constant supply of raw materials from our reputable local and overseas suppliers, this demonstrates our strong
  and long-term supplier relationships and our ability to provide you with the regions’ finest leather.

  Our focuses on practicing stringent quality control and building mutually beneficial supplier/client relationships
  have earned our reputation as a reliable manufacturer in supplying high quality leather products in a timely manner.
</p>
