/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --navbar-height: 95px;

  // root color variables
  --navbar-text-color: #727272;
  --navbar-gradient-color: #72BF44;
  --navbar-link-active: #5b9a35;
  --color-dark-grey-1: #181716;
  --color-dark-grey-2: #424242;
  --color-light-grey-1: #9a9a9a;
  --color-light-grey-2: #bbbbbb;
  --color-light-grey-3: #cccccc;
  --color-light-grey-4: #dddddd;
  --color-light-grey-5: #eeeeee;
  --color-smokey-white: #E9E4DA;
  --color-white: #FFFFFF;
  --padding-to-mobile: 0.5rem;
}

//custom font
.text-heading {
  font-size: 64px;
  font-weight: 500;
}

.text-sub {
  font-size: 48px;
  font-weight: 500;
}

.text-title {
  font-size: 32px;
  font-weight: 500;
}

.text-nav-mobile {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.text-nav {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.text-sub-nav-mobile {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.text-sub-nav {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.text-content {
  font-size: 16px;
  font-weight: 300;
}

.text-footer {
  font-size: 15px;
  font-weight: 300;
}

.text-paragraph-head {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.text-paragraph-inner {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.text-info-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.text-info-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.font-weight-700 {
  font-weight: 700;
}

.text-color-green {
  color: var(--navbar-gradient-color) !important;
}

.text-color-dark-1 {
  color: var(--color-dark-grey-1) !important;
}

.text-color-dark-2 {
  color: var(--color-dark-grey-2) !important;
}

.text-color-white {
  color: var(--color-white) !important;
}

.text-align-center {
  text-align: center;
}

.btn-green {
  background-color: var(--navbar-gradient-color) !important;
  color: white !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  border-radius: 15px !important;

  &:hover {
    background-color: var(--navbar-link-active) !important;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    --navbar-height: 80px;
    --padding-to-mobile: 0;
  }

  .text-sub {
    font-size: 1.5rem !important;
  }

  // replace angular carousel css
  .carousel-caption {
    right: -20% !important;
    left: -20% !important;
  }
}

// hamburgers css
$hamburger-layer-width: 1.5rem;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: var(--navbar-gradient-color);
$hamburger-padding-x: 1rem;
$hamburger-padding-y: 1rem;
@import 'hamburgers/_sass/hamburgers/hamburgers';
