<div class="home-wrapper" dir="ltr">
  <div class="carousel">
    <ngb-carousel [interval]="interval" [pauseOnFocus]="pauseOnFocus" [pauseOnHover]="pauseOnHover"
                  [showNavigationArrows]="renderMobileView">
      <ng-template ngbSlide>
        <div class="carousel-img-wrapper">
          <img alt="Angular Carousel 1" class="d-block carousel-image-fit" src="../../assets/carousel/1.jpg">
        </div>
        <div class="carousel-caption d-flex">
          <div class="carousel-inner-caption">
            <p class="carousel-text-title">
              CV
              <span class="text-color-green">
                Cisarua
              </span>
            </p>
            <p class="carousel-text-content">
              Established in 1949, CV. Cisarua is an Indonesian leather tannery that played a pivotal role in the
              domestic production of mid to high-end crash and finish leather, establishing us as one of the pioneers of
              in-house leather manufacturing in the country.
            </p>
            <div>
              <ng-container *ngTemplateOutlet="readMoreButton"></ng-container>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-img-wrapper">
          <img alt="Angular Carousel 2" class="d-block carousel-image-fit" src="../../assets/carousel/2.jpg">
        </div>
        <div class="carousel-caption d-flex">
          <div class="carousel-inner-caption">
            <p class="carousel-text-title">
              <span class="text-color-green">
                Profound Knowledge
              </span>
              in Leather
            </p>
            <p class="carousel-text-content">
              Since our tannery's inception, we have remained steadfast in our commitment to preserving and applying
              traditional leather craftsmanship techniques.
            </p>
            <div>
              <ng-container *ngTemplateOutlet="readMoreButton"></ng-container>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-img-wrapper">
          <img alt="Angular Carousel 2" class="d-block carousel-image-fit" src="../../assets/carousel/3.jpeg">
        </div>
        <div class="carousel-caption d-flex">
          <div class="carousel-inner-caption">
            <p class="carousel-text-title">
              Quality and
              <span class="text-color-green">
                Environmental
              </span>
              Policies
            </p>
            <p class="carousel-text-content">
              Our company consistently strives to deliver top-notch products while simultaneously prioritizing
              responsible waste management practices.
            </p>
            <div>
              <ng-container *ngTemplateOutlet="readMoreButton"></ng-container>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="content-wrapper">
    <div class="about-us-sneak">
      <div class="about-us-text">
        <h1>
          <span class="text-color-dark-1 font-weight-700">74 Years of Trust</span>
        </h1>
        <div *ngIf="renderMobileView" class="about-us-image">
          <ng-container *ngTemplateOutlet="aboutUsSneakImage"></ng-container>
        </div>
        <p class="text-paragraph-head">
          Over the years, our expertise and track record of success in the leather industry have earned us more than 100
          partners and clients from all corners of Indonesia and around the globe, including government institutions,
          automotive manufacturers, and apparel companies.
        </p>
        <p class="text-paragraph-head">
          By combining modern technological advancements with traditional leather crafting techniques, we have
          experienced significant growth in the demand for our leather products both domestically and in international
          markets.
        </p>
        <p class="text-paragraph-inner">
          Our state-of-the-art facility, located in the heart of West Java, is one of the premier modern facilities in
          Indonesia. Thanks to a reliable supply of raw materials from reputable local and overseas suppliers, we have
          been able to maintain operations while consistently satisfying our past clients and present partners.
        </p>
        <p class="text-paragraph-inner">
          Our aim is not only to satisfy our customers' needs with our high-quality products, but we also prioritize
          compliance with environmental regulations and strive for energy and resource conservation, waste reduction,
          and recycling.
        </p>
        <div>
          <ng-container *ngTemplateOutlet="readMoreButton"></ng-container>
        </div>
      </div>
      <div *ngIf="!renderMobileView" class="about-us-image">
        <ng-container *ngTemplateOutlet="aboutUsSneakImage"></ng-container>
      </div>
    </div>
    <div class="product-sneak">
      <div *ngFor="let product of products" class="product-card">
        <img src="{{ product.imageSrc }}" alt="{{ product.imageAlt }}" class="product-image">
        <div class="product-text">
          <p class="text-info-title pb-2 mb-2 border-bottom">{{ product.title }}</p>
          <p class="text-info-description">{{ product.description }}</p>
          <ng-container *ngTemplateOutlet="learnMoreButton"></ng-container>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="banner-image"></div>
      <div class="banner-text">
        <p class="text-sub font-weight-700 text-color-white text-align-center">
          Crafting
          <span class="text-color-green">timeless quality </span>
          through leather mastery.
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #readMoreButton>
  <button class="btn btn-green" (click)="onReadMoreClick()" *ngIf="!renderMobileView">Read More</button>
</ng-template>

<ng-template #learnMoreButton>
  <button class="btn btn-outline-light" (click)="onLearnMoreClick()">Learn More</button>
</ng-template>

<ng-template #aboutUsSneakImage>
  <div class="about-us-image-wrapper">
    <img src="../../assets/images/home/tanneryWorkshop.jpg" class="about-us-image-fit"
         alt="Cisarua Leather Tanner, South East Asian biggest leather tannery">
  </div>
</ng-template>


